* {
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  padding-left: 0;
}
:root {
  --width: 1100px;
  --padding: 15px;
  --margin: 20px;
}

.header, .main {
  max-width: var(--width);
  margin: 0 auto;
}

.header {
  margin-bottom: 32px;
  padding: 0 var(--padding);
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid grey;
  margin-bottom: 18px;
}
.contact_logo {
  display: flex;
  justify-content: flex-end;
  width: 100px;
  
}
.contact_logo img {
  max-width: 150px;
}
.contact_registration :first-of-type {
  margin-right: var(--margin);
}

.nav_items {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.main {
  max-width: var(--width);
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 0 var(--padding);
}
.main_menu {
  border-right: 1px solid grey;
  
}
.main_items li{
 margin-bottom: 12px;
 
}
.main_items :last-of-type{
  margin-bottom: 0;
 }
.main_wrapper {
  padding: 0 var(--padding);
}
.main_content {
  max-width: 825px;
}
.main_title, .main_description, .main_author {
  margin: 0 0 var(--margin);
}
.main_description {
  letter-spacing: 2px;
  line-height: 1.5;
  
}
.main_author {
  text-align: right;
  font-style: italic;
}
.main_navigation {
  display: flex;
  justify-content: space-between;
}
.main_navigation a {
  font-size: 18px;
  font-weight: bold;
}